{% extends "base.html.twig" %}

{% block content %}
<a href="{{ path('Home', 'form') }}" class="btn btn-default">Ouvrir le formulaire</a>	<br>
	Username : {{ user.get('username') }}<br/>
	Projet : {{ user.profile.attributes.title }}

	<h1>Articles : </h1>
	<ul>
		{% for post in user.posts %}
		    <li>{{ post.attributes.title }}, par {{ post.author.attributes.username }}</li>
		{% endfor %}
	</ul>
<br/>
	test :
	{% for genre in user.genres %}
		{{ genre.id }} : {{ genre.libele }} ({{ genre.attributes.__rel.Nom }}),
	{% endfor %}
<br/>

{% endblock %}