{% extends "base.html.twig" %}

{% block content %}
    <h1>Voici la page d'un produit</h1>
    Voici mon nom :
    {{ product.name }} <br>
    Voici mes stats : <br>
    Pourcentage de up : {{ product.percentup }} <br>
    Pourcentage de down : {{ product.percentdown }} <br>
    Mon Prix : {{ product.price }} <br>
    <a href="{{ path('Home', 'product', {id: product.id}) }}">C'est mon lien</a>



    <br>
    Retour à la page de stats :
    <a href="{{ path('Home','stats') }}">Retour à la page de stats</a>
{% endblock %}