{% extends "base.html.twig" %}
{% block content %}
<!-- CONTAINER START-->
<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-center">{{ product.name }} </h1>
                <a href="{{ path('Product', 'edit', {id: product.id}) }}" class="btn btn-success btn-sm">Modifier</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center"> {{ product.price }} <span class="glyphicon glyphicon-euro" aria-hidden="true"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" style="width: {{ product.percentup }}%">
                    </div>
                    <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: {{ product.percentdown }}%">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <form action="{{ path('Product', 'thumbUp', {id: product.id}) }}" method="post">
                    <button class="btn btn-success">{{ product.thumbsup }}  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
                </form>
               </div>
            <div class="col-md-offset-2 col-md-4">
                <form action="{{ path('Product', 'thumbDown', {id: product.id}) }}" method="post">
                    <button class="btn btn-danger">{{ product.thumbsdown }}  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
</div>
<!-- CONTAINER END -->
{% endblock %}